@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";



:root {
    --font-roboto: "Roboto", sans-serif;
    --font-nunito: "Nunito", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}